*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
.main-width {
    width: 1280px; 
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px; 
}
.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
/*NAVBAR*/
header {
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid rgb(236, 240, 241);
    color: rgb(236, 240, 241);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}
.logo h1:hover{
    transform: scale(1.3);
    border: none;
    transition: .4s;
}
.collapse .navbar-collapse {
    display: flex;
    justify-content: space-evenly;
}
.navbar-nav a{
    color:rgb(236, 240, 241);
    font-size: 17px;}
nav .navbar-nav li:not(:last-child) a:hover{
    color: #4BD30A;
    transition: .4s;
}
nav .navbar-nav{
    align-items: center;
}
nav .navbar-nav li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid #4BD30A;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    font-weight: 500;
}
nav .navbar-nav li.btn:hover a{
    background: #4BD30A;
    color: rgb(236, 240, 241);
    border: 2px solid transparent;
    transition: .4s;
}
/*HOME*/
.container {
    padding-top: 30px;
    display: FLEX;
    justify-content: center;
}
.container IMG{
    height: 400px;
    width: 400px;
    cursor: pointer;
    margin: 30px 30px 30px 50px;
}
@media  screen and (max-width:768px) {
    .container img{height: 300px;
    width: 300px;}
}
@media  screen and (max-width:368px) {
    .container img{height: 250px;
    width: 250px;}
}
.container IMG:hover{
    border: 5px ridge #4BD30A;
    border-radius: 50%;
}
.container .hero-text{
    margin-bottom: 40px;
}
.container .hero-text h1{
    color: rgb(236, 240, 241);
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}
@media  screen and (max-width:768px) {
    .container .hero-text h1{width: 350px;
    font-size: 44px;}}
@media  screen and (max-width:368px) {
    .container .hero-text h1{width: 180px;
    font-size: 29px;}}
.container .hero-text h2{
    color: rgb(236, 240, 241);
    font-size: 41px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
}
span{
    color: #4BD30A;
}
.container .hero-text h3{
    color: rgb(236, 240, 241);
    font-weight: 400;
    font-size: 52px;
    font-weight: 400;
}
@media  screen and (max-width:768px) {
    .container .hero-text h3{width: 350px;
    font-size: 44px;}}
@media  screen and (max-width:368px) {
    .container .hero-text h3{width: 180px;
    font-size: 29px;}}
.container .hero-text p{
    width: 600px;
    max-width: 100%;
    color: rgb(236, 240, 241);
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    }
@media  screen and (max-width:768px) {
    .container .hero-text p{width: 350px;
    max-width: 100%;
    color: rgb(236, 240, 241);
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 25px;}}
@media  screen and (max-width:368px) {
    .container .hero-text p{width: 180px;
    max-width: 100%;
    color: rgb(236, 240, 241);
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 15px;}}
.social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(236, 240, 241);
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255,255,255,0.1);
    margin-bottom: 35px;
}
.social a:hover {
    transform: scale(1.1);
    background: #4BD30A;
    transition: .4s;
}
.container .hero-text button{
    color: rgb(236, 240, 241);
    background: #4BD30A;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #4BD30A;
    border-radius: 30px;
    cursor: pointer;
}
.container .hero-text button:hover{
    background: transparent;
    border: 2px solid #4BD30A;
    color: #4BD30A;
    transition: .4s;
}
.index-message h4{
    text-align: center;
    padding: 2rem;
    margin: 0;
    color: rgb(236, 240, 241);
}
@media  screen and (max-width:768px) {
    .container .row .col-lg-7{
        max-width: 768px;
        justify-content: center;
    }}
@media  screen and (max-width:420px) {
    .container .row .col-lg-7{
        max-width: 420px;
        justify-content: center;
    }}
@media  screen and (max-width:768px) {
    .container .row .col-lg-5{
        max-width: 768px;
        justify-content: center;
    }}
@media  screen and (max-width:420px) {
    .container .row .col-lg-5{
        max-width: 420px;
        justify-content: center;
    }}
/*ABOUTME*/
.container1 {
    padding-top: 30px;
    display: FLEX;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    text-align: right;
    margin-right: 30px;
}
.container1 IMG{
    height: 440px;
    width: 440px;
    margin: 0;
    padding: 0;
    rotate: 105deg;
    filter: saturate(3.5);
}
@media  screen and (max-width:1200px) {
    .container1 img{height: 320px;
    width: 320px;}
}
@media  screen and (max-width:768px) {
    .container1 img{height: 300px;
    width: 300px;}
}
@media  screen and (max-width:368px) {
    .container1 img{height: 280px;
    width: 280px;}
}
.container1 IMG:hover{
transform: scale(1.02) rotate(1deg);
transition: 1s;
}
.container1 h1{
    color: rgb(236, 240, 241);
    font-size: 55px;
    font-weight: 400;
}
.container1 h3{
    color: rgb(236, 240, 241);
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
}
.aboutme {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    margin: 0;
    background-image: url(../img/section-background1.png);
}
.aboutme .col-md-3{
    display:grid;
    justify-content: center;
    margin-left: 30px;
}
.cards{
    width: 100%;
    max-width: 1100px;
}
@media  screen and (max-width:768px) {
    .cards{
        width: 100%;
        max-width: 768px;}}
.card {
    width: 370px;
    margin: 30px 0;
    height: 400px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(22, 22, 22) !important;
    transition: all 400ms ease;
    align-items: center;
    text-align: center;
    color: rgb(236, 240, 241);
}
@media  screen and (max-width:768px) {
    .aboutme .row .cards .card{
        width: 290px;
        height: 500px;
        font-size: 70%;}
    .aboutme .row .col-md-3{
        padding: 0;
        margin: 0;
        max-width: 95%;}
    }
@media  screen and (max-width:368px) {
    .aboutme .row .cards .card{
        width: 190px;
        height: 600px;
        font-size: 40%;
        margin: 0;}
}
.card img{
    width: 340px;
    height: 250px;
    margin: 12px 5px;
    border: 3px solid rgba(77, 75, 75, 0.274);
    border-radius: 6px;
}
.card:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.623);
    transform: translateY(-1%);
}
.card img:hover{
    transform: scale(1.15);
    transition: .6s;
}
.card p{
    padding: 10px;
    line-height: 1.5;
}
.card h1{
    margin: 10px
}
.cards .col-md-4{
    margin: 10px;
}
.card a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(236, 240, 241);
    border: 1px solid #4BD30A;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card a:hover{
    transform: scale(1.1);
    background-color: #4BD30A;
    font-weight: 600;}
/*RESUME*/
.container2 IMG{
    height: 440px;
    width: 440px;
    padding: 0;
    filter: saturate(3.5);
}
@media  screen and (max-width:1260px) {
    .container2 IMG{
        width: 380px;
        height: 380px;}}
@media  screen and (max-width:390px) {
    .container2 IMG{
        width: 290px;
        height: 290px;}}
.container2 IMG:hover{
transform: scale(1.02) rotate(1deg);
transition: 1s;
}
.container2 h1{
    color: rgb(236, 240, 241);
    font-size: 55px;
    font-weight: 400;
    margin: 50px 50px;
}
.container2 h3{
    color: rgb(236, 240, 241);
    font-size: 28px;
    font-weight: 400;
    margin: 30px 50px;
}
.resume {
    background-image: url(../img/section-background1.png) ;
}
.resume-sections{
    padding: 100px 40px;
}
.resume img{
    width: 100%;
    height: 250px;
}
.accordion {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.accordion-item{
    text-align: center;
}
.accordion-header button{
    background-color: rgb(22, 22, 22);
    color: rgb(236, 240, 241);
    border-bottom: 2px solid #4BD30A;
}
.accordion-item .accordion-body{
    background-color: rgba(32,31,29,1);
    color: rgb(236, 240, 241);
}
.accordion-button:not(.collapsed){
    background-color: rgba(32,31,29,1) !important;
    color: rgb(236, 240, 241) !important;
}
.resume h1{
    text-align: center;
    font-weight: 600;
    margin: 20px;
}
.resume h1{
    text-align: center;
}
.skills ul{
    position: relative;
}
.skills ul li{
    background-color: #191919;
    position: relative;
    left: 0;
    color: rgb(236, 240, 241);
    list-style-type:none ;
    padding-left: 5px;
    border-left: 4px solid #4BD30A;
    transition: 0.5s;
    cursor: pointer;
    text-align:initial;
    font-size: 22px;
    line-height: 40px;
    border-bottom: 2px solid #4BD30A;
    border-radius: 6px;
    margin: 2px;
}
.skills ul li::before {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: 0.5s;
}
.skills ul li:hover::before {
    transform: scaleX(1);
}
.skills ul li:hover {
    left: 10px;
    background-color: #4BD30A;
    border-bottom: 2px solid #4BD30A;
}
.resume .card{
    width: 75%;
    margin: 20px 0;
    padding: 0;
    background-color: rgb(236, 240, 241);
}
.resume .col-md-3{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.allskills{
    margin: 60px;
}
.allskills h1{
    margin-bottom: 50px ;
    font-size: 60px;
    background-image: url(../img/title-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 200px;
    color: rgb(236, 240, 241);
    padding: 60px
}
.resume-sections .row h1{
    margin-bottom: 50px ;
    font-size: 60px;
    background-image: url(../img/title-background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px 290px;
    color: rgb(236, 240, 241);
    padding: 60px
}
.resume-sections .row h2{
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}
@media  screen and (max-width:768px) {
    .resume-sections {
        padding-right: 0;
        padding-left: 0;
    }
    .resume .resume-sections .row h1{
        font-size: 48px;
        background-size: 400px 190px;
        padding: 50px 0;
        margin: 0;}
    .resume-sections .row h2{
        font-size: 37px;
        margin-top: 30px;
    }
    .skillset .row {
        max-width:95%;}
    .skills ul {
        max-width:95%;}
    .skills ul li:hover {
        left: 0px;}
    .allskills h1{
        font-size: 48px;
        background-size: 250px 150px;
        margin: 0;
    }
    .skillset .row .col-md-4{
        padding-right: 0;
        max-width: 98%;
    }}
@media  screen and (max-width:390px) {
    .resume .resume-sections .row h1{
        font-size: 45px;
        margin: 0;}}
/*PORTFOLIO*/
.container3 {
    text-align: right;
}
.container3 IMG{
    height: 440px;
    width: 440px;
    margin-right: 0;
    padding: 0;
    filter: saturate(4)
}
@media screen and (max-width:768px){
    .container3 img{
        height: 360px;
        width: 360px;
    }
}
.container3 IMG:hover{
transform: scale(1.02) rotate(1deg);
transition: 1s;
}
.container3 h1{
    color: rgb(236, 240, 241);
    font-size: 55px;
    font-weight: 400;
    margin-top: 60px;
}
.container3 h3{
    color: rgb(236, 240, 241);
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
}
.portfolio{
    background-image: URL(../img/section-background1.png);
}
.portfolio-image{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.portfolio p{
    color: rgb(22, 22, 22);
    font-weight: 400;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 40px;
}
.portfolio img{
    height: 300px;
    width: 300px;
}
/*CONTACT*/
.contact{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.contact p{
    margin: 0;
    padding: 6px;
    color: rgb(236, 240, 241);
}
.contact h1{
    text-align: center;
    color:rgb(236, 240, 241);
    margin-bottom: 30px;
}
.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255,255,255,.3);
}
.contact-form {
    background-color: rgba(32,31,29,1);
    margin-bottom: 0;
}
.contact-form form{
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
    grid-column: 1 / 3;
}
.contact-form form input, 
.contact-form form textarea{
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #4BD30A;
}
.contact-form form button{
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #4BD30A;
    border-radius: 6px;
    color: rgb(22, 22, 22)  ;
    font-weight: 600;
    font-size: 20px;
}
.contact-form form button:hover,
.contact-form form button:focus{
    transition: .4s;
    border: none;
    background-color: #66d334;
    color: rgb(236, 240, 241);
}
.contact-info{
    background-color: rgb(22, 22, 22);
}
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 1rem;
    color: rgb(236, 240, 241)
}
.contact-info ul{
    list-style: none;
    padding: 0;
}
.contact-info ul li{
    padding: .5em;
}
.contact-info ul li i{
    padding: 10px;
    color: #4BD30A;
}
/* large screen contact*/
@media (min-width: 700px){
    .contact-wrapper{
        display:grid;
        grid-template-columns: 2fr 1fr;
}}
/*FOOTER*/
footer {
    background: rgb(67,71,71);
    background: linear-gradient(0deg, rgba(67,71,71,0.969625350140056) 0%, rgba(32,31,29,1) 100%);
    margin-top: 0;
    padding: 20PX;
}
footer p{
    color: rgb(236, 240, 241);
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 0;
}
