@use './variables';

footer {
    background: rgb(67,71,71);
    background: linear-gradient(0deg, rgba(67,71,71,0.969625350140056) 0%, rgba(32,31,29,1) 100%);
    margin-top: 0;
    padding: 20PX;
    p{
        color: $background-color;
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: 400;
        padding-top: 16px;
        padding-bottom: 0;
    }
}