@use './variables';

.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    .main-width {
        width: 1280px; 
        max-width: 95%;
        margin: 0 auto;
        padding: 0px 20px; 
        header {
            padding: 40px 0 30px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            .logo {
                h1 {
                    height: 55px;
                    width: 55px;
                    background: transparent;
                    border: 2px solid $background-color;
                    color: $background-color;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    cursor: pointer;}
                h1:hover {
                    transform: scale(1.3);
                    border: none;
                    transition: .4s;}}
            nav {
                .navbar-nav{
                    align-items: center;
                    a{
                        color:$background-color;
                        font-size: 17px;}
                    li:not(:last-child) a:hover{
                        color: $main-color;
                        transition: .4s;}
                    li.btn a{
                        display: inline-block;
                        background: transparent;
                        border: 2px solid $main-color;
                        padding: 9px 28px;
                        border-radius: 30px;
                        line-height: 1.3;
                        font-weight: 500;}
                    li.btn:hover a{
                        background: $main-color;
                        color: $background-color;
                        border: 2px solid transparent;
                        transition: .4s;}}
                .collapse .navbar-collapse {
                    display: flex;
                    justify-content: space-evenly;}
            }
        }
        .container {
            padding-top: 30px;
            display: FLEX;
            justify-content: center;
            IMG{
                height: 400px;
                width: 400px;
                cursor: pointer;
                margin: 30px 30px 30px 50px;
            }
            IMG:hover{
                border: 5px ridge $main-color;
                border-radius: 50%;
            }
            .hero-text{
                margin-bottom: 40px;
                h1{
                    color: $background-color;
                    font-size: 52px;
                    font-weight: 700;
                    line-height: 1.2;
                    margin: 0;}
                h2{
                    color: $background-color;
                    font-size: 41px;
                    font-weight: 900;
                    line-height: 1.2;
                    margin: 0;
                }
                h3{
                    color: $background-color;
                    font-weight: 400;
                    font-size: 52px;
                    font-weight: 400;
                }
                p{
                    width: 600px;
                    max-width: 100%;
                    color: $background-color;
                    font-size: 20px;
                    line-height: 1.5;
                    margin-bottom: 30px;
                }
                .row{
                    max-width: 98%;
                    .col-lg-5{
                        padding-right: 0;
                        max-width: 95%;
                    }
                    .col-lg-7{
                        padding-right: 0;
                        max-width: 95%;
                        .social{
                            a{
                                width: 37px;
                                height: 37px;
                                border-radius: 50%;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 25px;
                                color: $background-color;
                                cursor: pointer;
                                margin-right: 20px;
                                background-color: rgba(255,255,255,0.1);
                                margin-bottom: 35px;}
                            a:hover {
                                transform: scale(1.1);
                                background: $main-color;
                                transition: .4s;}
                        }
                    }
                }
                button{
                    color: $background-color;
                    background: $main-color;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    padding: 8px 30px;
                    border: 2px solid $main-color;
                    border-radius: 30px;
                    cursor: pointer;
                }
                button:hover{
                    background: transparent;
                    border: 2px solid $main-color;
                    color: $main-color;
                    transition: .4s;
                }
                .row {
                    @media  screen and (max-width:768px){
                        h1{
                            width: 350px;
                            font-size: 44px;}
                        h3{
                            width: 350px;
                            font-size: 44px;}
                        p{
                            width: 350px;
                            max-width: 100%;
                            color: $background-color;
                            font-size: 17px;
                            line-height: 1.5;
                            margin-bottom: 25px;}
                        .col-lg-7{
                            max-width: 768px;
                            justify-content: center;}
                        .col-lg-5{
                            max-width: 768px;
                            justify-content: center;}
                            img{
                                height: 300px;
                                width: 300px;}
                        }
                    @media  screen and (max-width:368px) {
                        h1{
                            width: 180px;
                            font-size: 29px;}
                        h3{
                            width: 180px;
                            font-size: 29px;}
                        p{width: 180px;
                            max-width: 100%;
                            color: $background-color;
                            font-size: 13px;
                            line-height: 1.5;
                            margin-bottom: 15px;}
                        .col-lg-5{
                            img{
                                height: 250px;
                                width: 250px;}
                        }
                    }
                    @media  screen and (max-width:420px) {
                        .col-lg-7{
                            max-width: 420px;
                            justify-content: center;}
                        .col-lg-5{
                            max-width: 420px;
                            justify-content: center;}}
            }
        }
        }
    }
    .index-message {
        h4 {
            text-align: center;
            margin: 0;
            padding: 2rem;
            color: $background-color;
            background: linear-gradient(0deg, rgba(67,71,71,0.969625350140056) 0%, rgba(32,31,29,1) 100%);
            border-radius: 6px;
        }
    }
    .container1 {
        padding-top: 30px;
        display: FLEX;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        text-align: right;
        margin-right: 30px;
        .row{
            max-width: 95%;
            .col-md-5{
                IMG{
                    height: 440px;
                    width: 440px;
                    margin: 0;
                    padding: 0;
                    rotate: 105deg;
                    filter: saturate(3.5);
                }
                IMG:hover{
                    transform: scale(1.02) rotate(1deg);
                    transition: 1s;
                    }
                @media  screen and (max-width:1200px){
                    img{
                        height: 320px;
                        width: 320px;}
                }
                @media  screen and (max-width:768px){
                    img{
                        height: 300px;
                        width: 300px;
                        rotate: 90deg;}
                }
                @media  screen and (max-width:368px){
                    img{
                        height: 280px;
                        width: 280px;}
                }
            }
            .col-md-7{
                h1{
                    color: $background-color;
                    font-size: 55px;
                    font-weight: 400;
                }
                h3{
                    color: $background-color;
                    font-size: 28px;
                    font-weight: 400;
                    margin-top: 30px;
                }
            }
        }
    }
    .container2{
        IMG{
            height: 440px;
            width: 440px;
            padding: 0;
            filter: saturate(3.5);
        }
        IMG:hover{
            transform: scale(1.02) rotate(1deg);
            transition: 1s;
            }
        h1{
            color: $background-color;
            font-size: 55px;
            font-weight: 400;
            margin: 50px 50px;
        }
        h3{
            color: $background-color;
            font-size: 28px;
            font-weight: 400;
            margin: 30px 50px;
        }
        .row{
            max-width: 95%;
            @media  screen and (max-width:1260px){
                .col-md-7{
                    padding: 0;
                    max-width: 700px;
                }
                .col-md-5{
                    padding: 0;
                    max-width: 700px;
                    IMG{
                        width: 380px;
                        height: 380px;}
                }
            }
            @media  screen and (max-width:768px){
                .col-md-7{
                    padding: 0;
                    max-width: 95%;}
                .col-md-5{
                    padding: 0;
                    max-width: 95%;}
            }
            @media  screen and (max-width:390px){
                .col-md-5{
                    IMG{
                        width: 290px;
                        height: 290px;}
                }
            }
        }
    }
    .container3 {
        text-align: right;
        h1{
            color: $background-color;
            font-size: 55px;
            font-weight: 400;
            margin: 60px 30px;
        }
        h3{
            color: $background-color;
            font-size: 28px;
            font-weight: 400;
            margin: 30px 30px;
        }
        .row{
            max-width: 95%;
            .col-md-5{
                padding: 0;
                IMG{
                    height: 440px;
                    width: 440px;
                    margin: 0;
                    padding: 0;
                    filter: saturate(4);
                    margin-right:30px;
                    padding: 0;
                }
                IMG:hover{
                    transform: scale(1.02) rotate(1deg);
                    transition: 1s;
                }
                @media screen and (max-width:1000px){
                    img{
                        height: 340px;
                        width: 340px;
                        margin: 30px 20px;}
                }
                @media screen and (max-width:500px){
                    img{
                        height: 230px;
                        width: 230px;
                        margin-bottom: 25px;
                        margin-left: 17px;}
                }
            }
        }
    }
    .contact{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
        p{
            margin: 0;
            padding: 6px;
            color: $background-color;
        }
        h1{
            text-align: center;
            color:$background-color;
            margin-bottom: 30px;
        }
        .contact-wrapper {
            box-shadow: 0 0 20px 0 rgba(255,255,255,.3);
            .contact-form {
                background-color: rgba(32,31,29,1);
                margin-bottom: 0;
                form{
                    margin: 0;
                    padding: 10px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .block{
                        grid-column: 1 / 3;
                    }
                    input, textarea{
                        width: 100%;
                        padding: 8px;
                        border: none;
                        background-color: transparent;
                        border-bottom: 1px solid $main-color;
                    }
                    button{
                        width: 100%;
                        padding: 8px;
                        border: none;
                        background-color: $main-color;
                        border-radius: 6px;
                        color: rgb(22, 22, 22)  ;
                        font-weight: 600;
                        font-size: 20px;
                    }
                    button:hover, button:focus{
                        transition: .4s;
                        border: none;
                        background-color: #66d334;
                        color: $background-color;
                    }
                }
            }
            .contact-info{
                background-color: rgb(22, 22, 22);
                h4, ul, p{
                    text-align: center;
                    margin: 0 0 1rem 0;
                    padding: 1rem;
                    color: $background-color;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        padding: .5em;
                        i{
                            padding: 10px;
                            color: $main-color;
                        }
                    }
                }
            }
        }
        @media (min-width: 700px){
            .contact-wrapper{
                display:grid;
                grid-template-columns: 2fr 1fr;
        }
        }
    }
}